.panel-balance {
  display: flex;
  flex-direction: column;
  min-width: 270px;
  min-height: 100px;
}

.panel-text-balance {
  font-size: 24px;
  font-weight: 200;
}

.panel-text-eth-balance {
  font-size: 18px;
}

.panel-text {
  font-size: 35px;
	font-weight: 300;
}

.panel-note,
.panel-units {
  font-size: 14px;
  font-weight: 300;
}

.panel-note {
  font-size: 18px;
  margin-left: 12px;
}

.panel-units {
  margin-top: 16px;
}

.wibson-panel .wibson-link {
  font-size: 14px;
	font-weight: 300;
  padding: 0;
  margin-top: 16px;
}

.wibson-panel .wibson-link svg {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-left: 5px;
  margin-bottom: -2px;
}
