/* PAGE */
body {
  margin: 0;
  padding: 0;

  background-color: #F5F8FA;
}

body,
h1, h2, h3, h4, h5 {
  font-family: MuseoSans,Source Sans Pro,Helvetica,Arial,sans-serif;
}

.full-page {
  height: 100vh;
  display: flex;
}
