NODE_ENV=development
HOST=localhost
PORT=9001
LOG_TYPE=combined
CACHE=enabled
CACHE_ADAPTER=memory
ERROR_LOG='error.log'
COMBINED_LOG='combined.log'

BUYER_SIGNING_SERVICE_URL='http://localhost:9002'
WEB3_PROVIDER='https://mainnet.infura.io/foobarbaz'
REDIS_SOCKET='/var/run/redis/redis.sock'

WIBCOIN_ADDRESS='0x04b48bac4e13fc2f0c1b50bd1195e9a8c0993183'
DATA_EXCHANGE_ADDRESS='0x5f317ac4a3d853c5b8ab010260948b6aab847cba'

CONTRACTS_CACHE_NOTARY_TTL=2592000
CONTRACTS_CACHE_ORDERS_TTL=1800

ORDERS_STORE_PATH='tmp/orders'

STORAGE_URL='https://storage.com'
STORAGE_REGION='eu-central-1'
STORAGE_USER='storageUsr'
STORAGE_PASSWORD='storagePwd'
STORAGE_BUCKET='storageBucket'

LEVEL_DIRECTORY=/tmp

PASSPHRASE='passphrase'
JWT_OPTIONS={"secret":"secret", "expiration":"1d"}

BUY_DATA_INTERVAL=300000
BUY_DATA_MIN_ALLOWANCE=100000000000
BUY_DATA_MULTIPLIER=5
